#container{
    display: flex; 
    flex-wrap: wrap; 
    width: 50vw;
    height: 50vh;

}
.colorful{
    background-color: red;
}
.incolor{
     background-color: blue;
}
.incolor, .colorful{
    width: calc(100% / 16); 
    height: calc(100% / 16);
}