body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}
#container{
    display: flex; 
    flex-wrap: wrap; 
    width: 75vw;
    height: 75vh;
    border: 1px solid black;
}
.paint{
    background-color: black;
}